{% load static %}

<!doctype html>
<html>
  <head>
    <title>Solar System Explorer</title>
    <link rel="stylesheet" href="{% static 'planets/css/styles.css' %}" />
  </head>

  <body>
    <h1>Solar System Explorer</h1>

    <div class="solar-system">
      <a href="{% url 'planets:star_detail' %}">
        <div class="sun"></div>
      </a>

      <div class="orbit mercury-orbit">
        <a href="{% url 'planets:planet_detail' 'mercury' %}">
          <div class="planet mercury"></div>
        </a>
      </div>

      <div class="orbit venus-orbit">
        <a href="{% url 'planets:planet_detail' 'venus' %}">
          <div class="planet venus"></div>
        </a>
      </div>

      <div class="orbit earth-orbit">
        <a href="{% url 'planets:planet_detail' 'earth' %}">
          <div class="planet earth"></div>
        </a>
      </div>

      <div class="orbit mars-orbit">
        <a href="{% url 'planets:planet_detail' 'mars' %}">
          <div class="planet mars"></div>
        </a>
      </div>

      <div class="orbit jupiter-orbit">
        <a href="{% url 'planets:planet_detail' 'jupiter' %}">
          <div class="planet jupiter"></div>
        </a>
      </div>

      <div class="orbit saturn-orbit">
        <a href="{% url 'planets:planet_detail' 'saturn' %}">
          <div class="planet saturn"></div>
        </a>
      </div>

      <div class="orbit uranus-orbit">
        <a href="{% url 'planets:planet_detail' 'uranus' %}">
          <div class="planet uranus"></div>
        </a>
      </div>

      <div class="orbit neptune-orbit">
        <a href="{% url 'planets:planet_detail' 'neptune' %}">
          <div class="planet neptune"></div>
        </a>
      </div>

    </div>
  </body>
</html>